<h2>Athlete profile</h2>
<div class="well well-sm" *ngIf="results else athleteLoading">
    <div class="row">
        <!--<div class="col-sm-4 col-md-2">-->
        <div>
            <img src="http://placehold.it/100x100" alt="" class="img-rounded img-responsive" /><br/>
        </div>
        <!--<div class="col-sm-8 col-md-10">-->
        <div>
            <div *ngFor=" let result of results;  let i=index">
                <div *ngIf="i<1">
                    <h4>{{result.name}}'s Results:</h4>
                </div>
            </div>
            <hr/>
            <table>
                <colgroup>
                    <col class='compCol'/>
                    <col class='regCol'/>
                    <col class='regCol'/>
                    <col class='regCol'/>
                    <col class='regCol'/>
                    <col class='regCol'/>
                    <col class='regCol'/>
                    <col class='regCol'/>
                </colgroup>
                <tbody>
                    <tr>
                        <th class= 'comp'>Competition</th>
                        <th class= 'reg'>Squat</th>
                        <th class= 'reg'>Bench</th>
                        <th class= 'reg'>Deadlift</th>
                        <th class= 'reg'>Total</th>
                        <th class= 'reg'>Bodyweight</th>
                        <th class= 'reg'>Wilks</th>
                        <th class= 'reg'>Placing</th>
                    </tr>       
                </tbody>
            </table>
            <hr/>
            <table>
                <div *ngFor="let result of results; let i=index">   
                    <colgroup>
                        <col class='compCol'/>
                        <col class='regCol'/>
                        <col class='regCol'/>
                        <col class='regCol'/>
                        <col class='regCol'/>
                        <col class='regCol'/>
                        <col class='regCol'/>
                        <col class='regCol'/>
                    </colgroup>  
                    <tbody>             
                        <tr>
                            <td class= 'comp'><a href='#'>{{result.comp}}</a></td>
                            <td class= 'reg'>{{result.squat}}kg</td> 
                            <td class= 'reg'>{{result.bench}}kg</td>
                            <td class= 'reg'>{{result.deadlift}}kg</td>
                            <td class= 'reg'>{{result.total}}kg</td>
                            <td class= 'reg'>{{result.bodyweight}}kg</td>
                            <td class= 'reg'>{{result.wilks}}</td>
                            <td class= 'reg'>{{result.place}}</td>
                        </tr>
                        </tbody>
                </div>
            </table>
            <hr/>
        </div>
    </div>
</div>
<ng-template #athleteLoading>
    <div>
        Fetching athlete...
    </div>
</ng-template>
