<div class="resultUpload">
  <h2>Upload Result (Single):</h2>
<!-- Form elements for single result upload -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    </div>
    <input type="text"name="name" id="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Class</span>
    </div>
    <input type="text" name="theClass" id="theClass" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Bodyweight</span>
    </div>
    <input type="text" name="bodyweight" id="bodyweight" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Weight Class</span>
    </div>
    <input type="text" name="weightClass" id="weightClass" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Squat</span>
    </div>
    <input type="text" type="text" name="squat" id="squat" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Bench</span>
    </div>
    <input type="text" name="bench" id="bench" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Deadlift</span>
    </div>
    <input type="text" name="deadlift" id="deadlift" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Total</span>
    </div>
    <input type="text" name="total" id="total" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Wilks</span>
    </div>
    <input type="text" name="wilks" id="wilks" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Competition</span>
    </div>
    <input type="text" name="comp" id="comp" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Placing</span>
    </div>
    <input type="number" name="place" id="place" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Athlete ID</span>
      </div>
      <input type="number" name="id" id="id" placeholder="{{(athletes | async)?.length}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Competition ID</span>
    </div>
    <input type="number" name="compId" id="compId" placeholder="{{(comps | async)?.length}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
       <span class="input-group-text" id="inputGroup-sizing-default">Result ID</span>
     </div>
     <input type="number" name="resultId" id="resultId" placeholder="{{(results | async)?.length}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <button class="btn btn-success" id="Upload" name="upload"(click)="uploadResult(name, theClass, bodyweight, weightClass, squat, bench, deadlift, total, wilks, comp, place, id, compId, resultId)">Upload</button>
</div>
<div class="vertical"></div>
<h2>Upload Results.json file (Bulk):</h2>
<!-- Bulk upload JSON to firebase -->
<div class="fileUpload"> 
  <div *ngIf="currentUpload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
    </div>
      Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
  </div>  

  <div class="custom-file">
      <input type="file" accept=".json" (change)="detectFiles($event)" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile">Choose File:</label>
  </div><br/>
  <button id="upload" class="btn btn-success"[disabled]="!selectedFiles" (click)="uploadResults()">
      Push to Database
    </button>
</div>