<div *ngFor="let result of results; let i=index">
  <div *ngIf="i==0">
    <h1>{{result.comp}} Results</h1>
  </div>
</div>

<button id="show" (click)="showResults()" style="visibility: hidden"></button>
<h3>Female</h3>

<table class="table table-dark">
  <colgroup>
      <col class='nameCol'/>
      <col class='regCol'/>
      <col class='regCol'/>
      <col class='regCol'/>
      <col class='regCol'/>
      <col class='regCol'/>
      <col class='regCol'/>
      <col class='regCol'/>
      <col class='regCol'/>
  </colgroup>
  <tbody>
      <tr>
          <th class= 'name'><a>Name</a></th>
          <th class= 'reg'>Class</th>
          <th class= 'reg'>Bodyweight</th>
          <th class= 'reg'>Weight Class</th>
          <th class= 'reg'>Squat</th>
          <th class= 'reg'>Bench</th>
          <th class= 'reg'>Deadlift</th>
          <th class= 'reg'>Total</th>
          <th class= 'reg'>Wilks</th>
          <th class= 'reg'>Place</th>
      </tr>       
  </tbody>
</table>
<!-- Each weight class is loaded with retults, if no results are present in a certain weight class the heading does not show. -->
<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show47">47kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '47' || result.weight_class =='43'">
      <table class="table table-striped" class="table table-striped">
        <colgroup>
          <col class='nameCol'/>
          <col class='regCol'/>
          <col class='regCol'/>
          <col class='regCol'/> 
          <col class='regCol'/>
          <col class='regCol'/>
          <col class='regCol'/>
          <col class='regCol'/>
          <col class='regCol'/>
          <col class='regCol'/>
        </colgroup>  
        <tbody>             
          <tr>
            <td class= 'name'><a [routerLink]="'/athletes /'+result.id">{{result.name}}</a></td>
            <td class= 'reg'>{{result.class}}</td>
            <td class= 'reg'>{{result.bodyweight}}</td> 
            <td class= 'reg'>{{result.weight_class}}</td>  
            <td class= 'reg'>{{result.squat}}kg</td> 
            <td class= 'reg'>{{result.bench}}kg</td>
            <td class= 'reg'>{{result.deadlift}}kg</td>
            <td class= 'reg'>{{result.total}}kg</td>
            <td class= 'reg'>{{result.wilks}}</td>
            <td class= 'reg'>{{result.place}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show52 == true">52kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '52'">
      <table class="table table-striped">
          <colgroup>
            <col class='nameCol'/>
            <col class='regCol'/>
            <col class='regCol'/>
            <col class='regCol'/> 
            <col class='regCol'/>
            <col class='regCol'/>
            <col class='regCol'/>
            <col class='regCol'/>
            <col class='regCol'/>
            <col class='regCol'/>
          </colgroup>  
          <tbody>             
            <tr>
              <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
              <td class= 'reg'>{{result.class}}</td>
              <td class= 'reg'>{{result.bodyweight}}kg</td>
              <td class= 'reg'>{{result.weight_class}}kg</td> 
              <td class= 'reg'>{{result.squat}}kg</td> 
              <td class= 'reg'>{{result.bench}}kg</td>
              <td class= 'reg'>{{result.deadlift}}kg</td>
              <td class= 'reg'>{{result.total}}kg</td>
              <td class= 'reg'>{{result.wilks}}</td>
              <td class= 'reg'>{{result.place}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show57">57kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '57'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show63">63kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '63'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show72">72kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '72'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show84">84kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '84'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show84Plus">84kg+</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '84+'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<h3>Male</h3>
<table class="table table-dark">
    <colgroup>
        <col class='nameCol'/>
        <col class='regCol'/>
        <col class='regCol'/>
        <col class='regCol'/>
        <col class='regCol'/>
        <col class='regCol'/>
        <col class='regCol'/>
        <col class='regCol'/>
        <col class='regCol'/>
    </colgroup>
    <tbody>
        <tr>
            <th class= 'name'><a>Name</a></th>
            <th class= 'reg'>Class</th>
            <th class= 'reg'>Bodyweight</th>
            <th class= 'reg'>Weight Class</th>
            <th class= 'reg'>Squat</th>
            <th class= 'reg'>Bench</th>
            <th class= 'reg'>Deadlift</th>
            <th class= 'reg'>Total</th>
            <th class= 'reg'>Wilks</th>
            <th class= 'reg'>Place</th>
        </tr>       
    </tbody>
  </table>


<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show59">59kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '59' || result.weight_class == '53'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show66">66kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '66'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table> 
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show74">74kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '74'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show83">83kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '83'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show93">93kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '93'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show105">105kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '105'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show120">120kg</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '120'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table> 
    </div>
  </div>
   
</div>

<div>
  <div *ngFor=" let result of results; let athlete of _athletes; let i=index">
    <div *ngIf="i==0">
      <h3 *ngIf="_show120Plus">120kg+</h3>
      
    </div> 
    <div *ngIf="result.weight_class == '120+'">
        <table class="table table-striped">
            <colgroup>
              <col class='nameCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/> 
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
              <col class='regCol'/>
            </colgroup>  
            <tbody>             
              <tr>
                <td class= 'name'><a [routerLink]="'/athletes/'+result.id">{{result.name}}</a></td>
                <td class= 'reg'>{{result.class}}</td>
                <td class= 'reg'>{{result.bodyweight}}kg</td>
                <td class= 'reg'>{{result.weight_class}}kg</td> 
                <td class= 'reg'>{{result.squat}}kg</td> 
                <td class= 'reg'>{{result.bench}}kg</td>
                <td class= 'reg'>{{result.deadlift}}kg</td>
                <td class= 'reg'>{{result.total}}kg</td>
                <td class= 'reg'>{{result.wilks}}</td>
                <td class= 'reg'>{{result.place}}</td>
              </tr>
            </tbody>
        </table> 
    </div>
  </div> 
</div>
