.name{
    width: 400px !important;
    margin: 6px;
    padding: 6px;
}

.reg{
    width: 120px !important;
    margin: 6px;
    padding: 6px;
}

.nameCol{
    width: 30%;
}

regCol{
    width: 10%;
}

table{
    border: 1px lightgray;
}

a{
    font-size: 130%;
}
h3{
    float:left;
    text-align: center;
}
