body {
    font-family: 'Open Sans', sans-serif;
    background: #e8e8e8;
}

.wrapper {
    background: #fafafa;
    border-radius: 5px;
}

.button {
    min-width: 120px;
    background: #0abe51;
    font-size: 14px;
    color: #fff;
}

.button:hover {
    background: #049525;
}

.button:focus, button:focus{
    outline: none !important;
}

.button.loading {
    background: #0abe51 url(/assets/loader-white.svg) no-repeat 10% center;
    padding-left: 35px;
    background-size: 25px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}
